NODE_ENV=development
HOST=0.0.0.0
PORT=4099
CORS_ORIGIN=http://localhost:3000
API_PREFIX=api
DATABASE_URL=postgresql://quickdialog:quickdialog@localhost:6342/quickdialog
JWT_ACCESS_SECRET=83cfa4bc8136e6b006131c36400be93ffe030ac721c752322ab819a163a2282c
JWT_ACCESS_TTL=1m
JWT_ISSUER=quickdialog-api
JWT_AUDIENCE=quickdialog-web
JWT_ALGORITHM=HS256
AUTH_SESSION_MAX_TTL=10m
REFRESH_TOKEN_TTL=2m
SWAGGER_ENABLED=true
SWAGGER_PATH=docs
SWAGGER_TITLE=QuickDialog API
SWAGGER_DESCRIPTION="REST API for the QuickDialog hotel messaging platform."
SWAGGER_VERSION=1.0
